<!doctype html>
<html>
	<body>
		<div class="wrapper">
			<header class="main-header">
				<h1>CloudStats</h1>
			</header>
			<main>
				<section class="row">
					<div class="col-xs-12 col-sm-4">
						<h2>{{server.name}} <span>Processos</span></h2>
					</div>
					<div class="col-xs-12 col-sm-8 controls">
						<a ng-href="http://{{server.ipaddress}}:9000" target="_new_{{server.name}}" class="btn"><i class="icon-link"></i> http://{{server.ipaddress}}:9000</a>
						<input type="text" placeholder="Digite o nome do servidor">
						<button type="button"><i class="icon-search"></i></button>
					</div>
				</section>
				<section class="row widgets process">
					<div class="col-xs-12">
						<article class="js_show_processes" ng-repeat="p in processes">
							<header>
								<h3>{{p.group}}:{{p.name}}</h3>
								<i class="icon-angle-down"></i>
								<span><b>34</b> / 34</span>								
							</header>
							<ul>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
							</ul>
						</article>
					</div>
				</section>				
			</main>
		</div>	
	</body>
</html>