<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<title>Sieve : Cloud Stats</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,700italic,900,900italic,500italic' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="assets/css/normalize.css">
		<link type="text/css" rel="stylesheet" href="assets/css/main.css">
	</head>
	<body>
		<div class="wrapper">
			<header class="main-header">
				<h1>CloudStats</h1>
			</header>
			<main>
				<section class="row">
					<div class="col-xs-12 col-sm-4">
						<h2>Servidores <span>Processos</span></h2>
					</div>
					<div class="col-xs-12 col-sm-8 controls">
						<a href="javascript:void(0);" class="btn"><i class="icon-link"></i> http://www.enderecodoservidor.com.br</a>
						<input type="text" placeholder="Digite o nome do servidor">
						<button type="button"><i class="icon-search"></i></button>
					</div>
				</section>
				<section class="row widgets process">
					<div class="col-xs-12">
						<article title="Selecione para verificar este servidor." class="js_show_processes">
							<header>
								<h3>Nome do processo</h3>
								<i class="icon-angle-down"></i>
								<span><b>34</b> / 34</span>								
							</header>
							<ul>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
							</ul>
						</article>
						<article title="Selecione para verificar este servidor." class="error js_show_processes">
							<header>
								<h3>Nome do processo</h3>
								<i class="icon-angle-down"></i>
								<span><b>34</b> / 34</span>								
							</header>
							<ul>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
							</ul>
						</article>
						<article title="Selecione para verificar este servidor." class="js_show_processes">
							<header>
								<h3>Nome do processo</h3>
								<i class="icon-angle-down"></i>
								<span><b>34</b> / 34</span>								
							</header>
							<ul>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
							</ul>
						</article>
						<article title="Selecione para verificar este servidor." class="error js_show_processes">
							<header>
								<h3>Nome do processo</h3>
								<i class="icon-angle-down"></i>
								<span><b>34</b> / 34</span>								
							</header>
							<ul>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
							</ul>
						</article>
						<article title="Selecione para verificar este servidor." class="js_show_processes">
							<header>
								<h3>Nome do processo</h3>
								<i class="icon-angle-down"></i>
								<span><b>34</b> / 34</span>								
							</header>
							<ul>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-stop"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
								<li>
									<i class="icon-play"></i>
									crawler:et0/0
									<span>pid15846, uptime 0:48:35, STOPPED</span>
								</li>
							</ul>
						</article>
					</div>
				</section>				
			</main>
		</div>	
		<script src="assets/js/jquery-2.1.1.min.js"></script>
		<script src="assets/js/scripts.js"></script>
	</body>
</html>