{% load staticfiles %}
<html>

<script src="{% static "js/angular.min.js" %}"></script>
<script src="{% static "app.js" %}"></script>
<script src="{% static "controllers/auth.js" %}"></script>

<body ng-app="cloudstats">


<div ng-controller="AuthController as auth">

    <form ng-submit="authForm.$valid & auth.login(auth)" name="authForm" novalidate>

        <input type="text" ng-model="auth.username" required>
        <input type="password" ng-model="auth.password" required>

        <input type="submit" name="login">

    </form>
    <h2 ng-show="auth.login_ok">Login OK</h2>

</div>

</body>


</html>